*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.top-banner{
    background-image: url(images/donation1.jpg);
    background-size: cover;
    height: 100vh;
}
.text-on-banner{
    color: white;
    text-align: center;
}
.text-on-banner h1{
    padding-top: 100px;
    padding-bottom: 30px;
}
.button{
    text-decoration: none;
    background-color: rgb(255, 89, 89);
    border-radius: 5px;
    color: white;
    font-weight: 600;
    padding:5px 10px;
    font-size: smaller;
}
.button-1{
    padding-top: 30px;
}
.donate-today{
    text-align: center;
    padding-top: 100px;
}
.takar-option{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.box-design{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width:  80px;
    background-color:rgba(128, 128, 128, 0.205) ;
    margin: 10px;
    border-radius: 2px;
}
#tk{
    border: 1px solid rgb(255, 89, 89);
    background-color: rgba(255, 89, 89, 0.224);
    color: rgb(255, 89, 89);
}
.donate-today p{
    padding-top: 50px;
    padding-bottom: 30px;
}
hr{
    width: 50%;
    margin-left: 200px;
}
.other{
    padding-bottom: 10px;
}
.plan{
    padding-top: 100px;
    text-align: center;
}
.box{
    width: 400px;
    height: 300px;
    margin: 20px;
    background-color: aqua;
    padding: 20px;
}
.boxes{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin: 20px;
}
.lives{
    display: flex;
}
.half{
    width: 50%;
    padding-left: 50px;
    padding-top: 90px;
}
.half img{
    width: 80%;
}
footer{
    text-align: center;
    background-color: rgb(4.3, 5.1, 9);
    color: rgb(255, 89, 89);
}